<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xda.nobar">

    <permission
        android:name="com.xda.nobar.permission.VERIFY_LICENSE"
        android:label="VERIFY_LICENSE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.xda.nobar.permission.RECEIVE_BROADCAST"
        android:label="RECEIVE_BROADCAST"
        android:protectionLevel="signature|dangerous" />
    <permission
        android:name="com.xda.nobar.permission.SEND_BROADCAST"
        android:label="SEND_BROADCAST"
        android:protectionLevel="signature|dangerous" />

    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.xda.nobar.permission.VERIFY_LICENSE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.xda.nobar.permission.RECEIVE_BROADCAST" />
    <uses-permission android:name="com.xda.nobar.permission.SEND_BROADCAST" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.WRITE_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- Used for premium backdoor -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboard|screenSize|density|keyboardHidden"
            android:launchMode="singleInstance"
            android:excludeFromRecents="false"
            android:theme="@style/AppTheme.NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activities.ui.SettingsActivity"
            android:configChanges="screenSize|orientation|screenLayout"
            android:excludeFromRecents="false"
            />
        <activity android:name=".activities.ui.HelpAboutActivity"
            android:label="@string/help_about"
            />
        <activity
            android:name=".activities.ui.IntroActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Intro" />
        <activity
            android:name=".activities.helpers.DialogActivity"
            android:multiprocess="true"
            android:theme="@style/AppTheme.Null" />
        <activity android:name=".activities.ui.LibraryActivity" />
        <activity android:name=".activities.selectors.AppLaunchSelectActivity" />
        <activity
            android:name=".activities.ToggleNavActivity"
            android:exported="true"
            android:label="@string/toggle_nav"
            android:theme="@style/AppTheme.Null" />
        <activity
            android:name=".activities.ToggleGesturesActivity"
            android:exported="true"
            android:label="@string/toggle_gestures"
            android:theme="@style/AppTheme.Null" />
        <activity android:name=".activities.TaskerConfig" />
        <activity
            android:name=".activities.helpers.ScreenshotActivity"
            android:configChanges="screenSize|orientation|layoutDirection|screenLayout"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Null" />
        <activity
            android:name=".activities.helpers.RequestPermissionsActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Null" />
        <activity android:name=".activities.selectors.ActionSelectorActivity" />
        <activity android:name=".activities.selectors.BlacklistSelectorActivity" />
        <activity android:name=".activities.selectors.ActivityLaunchSelectActivity" />
        <activity android:name=".activities.selectors.IntentSelectorActivity" />
        <activity
            android:name=".activities.selectors.ShortcutSelectActivity"
            android:label="@string/prem_launch_shortcut_no_format" />
        <activity
            android:name=".tasker.activities.ToggleGestureActivity"
            android:exported="true"
            android:icon="@drawable/gesture"
            android:label="@string/toggle_gestures_prem">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.activities.ToggleNavActivity"
            android:exported="true"
            android:icon="@drawable/border_bottom"
            android:label="@string/toggle_nav_prem">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.activities.EventConfigureActivity"
            android:exported="true"
            android:icon="@drawable/gesture"
            android:label="@string/prem_tasker_event">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ui.TroubleshootingActivity" />
        <activity android:name=".activities.ui.CrashActivity"
            android:theme="@style/AppTheme"
            android:excludeFromRecents="true"
            android:process=":crash"
            />
        <activity android:name=".activities.ui.AppDrawerActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            />
        <activity android:name=".activities.selectors.AppColorSettingsActivity"
            android:exported="false"
            />
        <activity android:name=".dev.PreferenceViewerActivity"
            android:exported="false"
            />

        <service
            android:name=".tiles.GestureToggle"
            android:icon="@drawable/gesture"
            android:label="@string/gestures_off"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.NavBarToggle"
            android:icon="@drawable/border_bottom"
            android:label="@string/nav_shown"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.Actions"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/actions" />
        </service>
        <service android:name=".services.KeepAliveService"
            android:exported="false"
            />

        <receiver
            android:name=".providers.HomeScreenProviderHoriz"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.xda.nobar.action.REFRESH_STATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
        <receiver
            android:name=".providers.HomeScreenProviderVert"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.xda.nobar.action.REFRESH_STATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_vertical" />
        </receiver>
        <receiver
            android:name=".providers.SignBoardProvider"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.xda.nobar.action.REFRESH_STATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/signboard" />
        </receiver>
        <receiver
            android:name=".providers.CocktailProvider"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.samsung.android.cocktail.action.COCKTAIL_VISIBILITY_CHANGED" />
                <action android:name="com.samsung.android.cocktail.action.COCKTAIL_ENABLED" />
                <action android:name="com.samsung.android.cocktail.v2.action.COCKTAIL_UPDATE" />
                <action android:name="com.samsung.android.cocktail.action.COCKTAIL_DISABLED" />
                <action android:name="com.xda.nobar.action.REFRESH_STATE" />
            </intent-filter>

            <meta-data
                android:name="com.samsung.android.cocktail.provider"
                android:resource="@xml/cocktail" />
        </receiver>
        <receiver
            android:name=".receivers.ActionReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".receivers.StartupReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="com.xda.nobar.intent.action.ACTIVATE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/border_bottom" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="nobar_notification" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true"
            />
    </application>

</manifest>