<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xda.nobar">

    <permission
        android:name="com.xda.nobar.permission.VERIFY_LICENSE"
        android:label="VERIFY_LICENSE"
        android:protectionLevel="signature" />

    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.xda.nobar.permission.VERIFY_LICENSE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- Used for premium backdoor -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/launcher_vector"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoBar"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="screenSize|orientation|screenLayout" />
        <activity android:name=".activities.HelpAboutActivity" />
        <activity
            android:name=".activities.IntroActivity"
            android:theme="@style/AppTheme.Intro"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activities.DialogActivity"
            android:theme="@style/AppTheme.Null" />
        <activity android:name=".activities.LibraryActivity" />
        <activity android:name=".activities.AppLaunchSelectActivity" />
        <activity
            android:name=".activities.ToggleNavActivity"
            android:label="@string/toggle_nav"
            android:exported="true"
            android:theme="@style/AppTheme.Null" />
        <activity
            android:name=".activities.ToggleGesturesActivity"
            android:label="@string/toggle_gestures"
            android:exported="true"
            android:theme="@style/AppTheme.Null" />
        <activity
            android:name=".activities.LockScreenActivity"
            android:configChanges="screenSize|orientation|layoutDirection|screenLayout"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Black" />
        <activity android:name=".activities.TaskerConfig" />
        <activity
            android:name=".activities.ScreenshotActivity"
            android:configChanges="screenSize|orientation|layoutDirection|screenLayout"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Null" />
        <activity
            android:name=".activities.RequestPermissionsActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Null" />
        <activity android:name=".activities.BlacklistSelectorActivity" />
        <activity android:name=".activities.ActivityLaunchSelectActivity" />
        <activity
            android:name=".tasker.activities.ToggleGestureActivity"
            android:exported="true"
            android:icon="@drawable/ic_gesture_black_24dp"
            android:label="@string/toggle_gestures_prem">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.activities.ToggleNavActivity"
            android:exported="true"
            android:icon="@drawable/ic_border_bottom_black_24dp"
            android:label="@string/toggle_nav_prem">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.activities.EventConfigureActivity"
            android:exported="true"
            android:icon="@drawable/ic_gesture_black_24dp"
            android:label="@string/prem_tasker_event">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>

        <service
            android:name=".tiles.GestureToggle"
            android:icon="@drawable/ic_gesture_black_24dp"
            android:label="@string/gestures_off"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.NavBarToggle"
            android:icon="@drawable/ic_border_bottom_black_24dp"
            android:label="@string/nav_shown"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.Actions"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/actions" />
        </service>
        <service
            android:name=".services.ForegroundService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.FCMService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.RootService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receivers.PackageReplaceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".providers.HomeScreenProviderHoriz"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.xda.nobar.action.REFRESH_STATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
        <receiver
            android:name=".providers.HomeScreenProviderVert"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.xda.nobar.action.REFRESH_STATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_vertical" />
        </receiver>
        <receiver
            android:name=".providers.SignBoardProvider"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.xda.nobar.action.REFRESH_STATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/signboard" />
        </receiver>
        <receiver
            android:name=".providers.CocktailProvider"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.samsung.android.cocktail.action.COCKTAIL_VISIBILITY_CHANGED" />
                <action android:name="com.samsung.android.cocktail.action.COCKTAIL_ENABLED" />
                <action android:name="com.samsung.android.cocktail.v2.action.COCKTAIL_UPDATE" />
                <action android:name="com.samsung.android.cocktail.action.COCKTAIL_DISABLED" />
                <action android:name="com.xda.nobar.action.REFRESH_STATE" />
            </intent-filter>

            <meta-data
                android:name="com.samsung.android.cocktail.provider"
                android:resource="@xml/cocktail" />
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_border_bottom_black_24dp" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="nobar_notification" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
    </application>

</manifest>